<a href="https://colab.research.google.com/github/Branmejia1/math120-inclass/blob/main/Math_120_Lecture_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 notebook

### Intro Programming

This is a markdown/text cell

**bold text**
# New Section
*italicized text*


```
# This is formatted as code
```
[link text](https://)


> Add blockquote


1.   List item
2.   List item



*   List item
*   List item


---
ðŸ˜€

# Python as a Calculator

In [ ]:
# arithmatic examples
12 + 12 # addition
12 * 13 # multiplication
25 / 5 # division

5.0

In [ ]:
#exponenets
5**2
#modular division (the remainder after dividing by second number)
7 % 2

1

In [ ]:
# order of operation
2 + 4 ** 2

18

In [ ]:
# arithmetic Functions
round (12.5)
# abs(), sum()

12

In [ ]:
# function in python are of the form
# function_name()
# argument functions are seperated by commas
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
round(0.50)

0

## Strings

In [ ]:
# strings are either single or double qouted
'hello'

'hello'

In [ ]:
"world"

'world'

In [ ]:
# practice: create some strings and use some arithmetic on the,
'my name is ' + 'brandon'

'my name is brandon'

In [ ]:
'my name is brandon' * 4

'my name is my name is my name is my name is '

In [ ]:
len('my name is brandon ')

19

In [ ]:
# valiues and types
type('hello')

str

In [ ]:
# convert to float
float(2)

2.0

In [ ]:
#type errors occur when operands dont work
'120' / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Variables and statements

In [ ]:
# assignment is done with =
x = 10
pi = 3.14
message = 'here we go'

In [ ]:
type(x)

int

In [ ]:
len(message)

10

In [ ]:
len(pi)

TypeError: object of type 'float' has no len()

In [ ]:
john_1=2

In [ ]:
john

2

In [ ]:
# here is what works (john=2 john2=2 john_1+)
# here is what doesnt work (john12+1=2 john@=2)

# what doesn work
x+y=3 #operations
bob my = 9 #symbols/special characters
and = 9 # special python keywords
1x= 9 # numbers in front of a variable name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-296347980.py, line 5)



``` python
`# here is what works (john=2 john2=2 john_1+)
# here is what doesnt work (john12+1=2 john@=2)

# what doesn work
x+y=3 #operations
bob my = 9 #symbols/special characters
and = 9 # special python keywords
1x= 9 # numbers in front of a variable name`
```

In [ ]:
# importing library/modules
import math

In [ ]:
# importing math modules give access to variables and functions
math.pi

3.141592653589793

In [ ]:
math.pow(5,2)

25.0

In [ ]:
#investigate the other functions in math
math.

TypeError: 'int' object is not iterable

other fucntions people considered


```python
math.hypot # 2 sides of a triangle returns hypotenuse
math.perm # does a permutation (n chose k)
math.exp # e raised to a value
```

In [ ]:
#scientific/math modules
import numpy as np # numerical python
import sympy as sym # symbolic python

In [ ]:
# import a submodule from a module
from sympy import symbols

In [ ]:
y = symbols('y')

In [ ]:
z = symbols('z')

In [ ]:
y+2*z

y + 2*z

In [ ]:
# symbolicaly expand
sym.expand((y+z)**2)

y**2 + 2*y*z + z**2

In [ ]:
# symbolicaly differentiate
sym.diff(sym.sin(y),y)

cos(y)

In [ ]:
# matrix eigenvalues
sym.Matrix([[1,0],[0,4]]).eigenvals()

{1: 1, 4: 1}

In [ ]:
# solve equations (left hand side = 0)
sym.solve(y**2-2*sym.sin(z), z)

[pi - asin(y**2/2), asin(y**2/2)]

In [ ]:
# print statements
print(message)
print('hello',message)

here we go
hello here we go